
html.body{
    height: 100%;
}

.clear{
    clear: both;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    width: 100%;
    position: absolute;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: #FFCB05;
}

.logo {
    position: absolute;
    width: 75px;
    height: 30px;
    left: 138px;
    top: 8px;
}

.menu-desktop{
    display: flex;
    justify-content: center; 
    font-family: "Poppins"; 
    margin-top: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.menu-desktop ul {
    list-style-type: none;
    top: auto;
    
}

.menu-desktop li{
    display: inline-block;
    padding: 0 25px;
    position: relative;
    top: 8px;
}

.menu-desktop li a{
    text-decoration: none;

}

.texto1 {
    position: absolute;
    width: 400px;
    height: 36px;
    left: 138px;
    top: 88px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.imgpokemon{    
    position: absolute;
    width: 165px;
    height: 236px;
    left: 138px;
    top: 147px;

}